@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-700.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #feafc3;
  color: #2d3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0;
  border: none;
  border-radius: 26px;
  padding: 12px 33px;
  color: #2d3440;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button--primary {
  outline: 4px solid rgba(252, 252, 252, 0.4);
  background-color: #fcfcfc;
  color: #2d3440;
}

.button--extra {
  border-radius: 26px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  background-color: #ff2f64;
  color: #fcfcfc;
}

.header {
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__wrapper {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 15px;
}

.navigation-site {
  width: 550px;
}

.navigation-user {
  width: 470px;
}

.navigation-user__list {
  justify-content: end;
  gap: 16px;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.navigation__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2d3440;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.navigation-user__link {
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation__link--catalog {
  padding-right: 40px;
  position: relative;
}

.navigation__link--catalog::after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: 16px;
  bottom: 6px;
}

.navigation__link--phone {
  font-weight: 700;
  padding: 8px 0;
}

.navigation__link--search {
  padding: 8px;
  border-radius: 50%;
}

.navigation-user__link--login {
  font-size: 14px;
}

.navigation-user__link--cart {
  width: 115px;
  font-size: 14px;
}

.navigation__icon {
  margin-right: 6px;
}

.main {
  flex-grow: 1;
}

.main__wrapper {
  width: 1170px;
  margin: auto;
}

.slider {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 70px;
  position: relative;
}

.slider__description {
  width: 475px;
}

.slider__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}

.slider__text {
  width: 429px;
  margin: 0;
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.slider__list {
  display: flex;
  gap: 73px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  position: relative;
}

.slider__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(-15%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
  opacity: 0.4;
  z-index: 0;
  content: "";
}

.slider__item--current::before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 327px;
  height: 327px;
  border-radius: 50%;
  background-color: #ffcbd8;
  z-index: 0;
  content: "";
}

.slider__image {
  position: relative;
  z-index: 1;
}

.slider__button-arrow {
  position: absolute;
  margin: 0;
  padding: 9px;
  border: 2px solid #fcfcfc;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__button-arrow--left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.slider__button-arrow--right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.slider__bullets-list {
  position: absolute;
  bottom: 8px;
  left: 0;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__bullet {
  margin: 0;
  padding: 0;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fcfcfc;
  opacity: 0.3;
}

.slider__bullet--current {
  opacity: 1;
}

.slider__social-list {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
}

/* banners */
.banners {
  padding-top: 72px;
}

.banners__title {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 55px;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.banners__container {
  display: flex;
  gap: 30px;
}

.banner {
  width: 570px;
  padding: 36px 200px 36px 36px;
  border-radius: 16px;
}

.banner--raspberry {
  background: #ff7799 url("../img/banner-raspberry.png") no-repeat right;
  background-size: 219px 268px;
}

.banner--marshmallow {
  background: #ff7799 url("../img/banner-marshmallow.png") no-repeat right;
  background-size: 219px 268px;
}

.banner__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.banner__description {
  margin: 0;
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* goods */
.goods {
  padding-top: 81px;
  margin-bottom: 80px;
}

.goods__title {
  margin: 0 auto;
  margin-bottom: 107px;
  width: 600px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.goods__item {
  background: #fcfcfc;
  border-radius: 8px;
  padding: 0 40px 24px;
  display: grid;
  grid-template-columns: min-content auto;
}

.goods__image {
  display: block;
  margin: auto;
  margin-top: -51px;
  margin-bottom: 16px;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
  grid-row: 1 / 2;
  grid-column: 1 / span 2;
}

.goods__item-title {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  grid-row: 2 / 3;
  grid-column: 1 / span 2;
}

.goods__item-description {
  margin: 0;
  margin-bottom: 16px;
  color: #565c66;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  grid-row: 3 / 4;
  grid-column: 1 / span 2;
}

.goods__price-container {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  margin: 0;
  align-self: center;
}

.goods__price {
  margin-right: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.goods__price-type {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.goods__cart-button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: #ff2f64;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  justify-self: end;
  align-self: start;
}

/* description */
.description {
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;
  background: url("../img/waffle-background.jpg") center center;
  background-size: cover;
}

.description__content {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #ffffff;
  color: #565c66;
  margin: auto;
}

.description__title {
  margin: 0;
  margin-bottom: 56px;
  color: #2d3440;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.description__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.description__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 64px;
  position: relative;
}

.description__item--ice-cream::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/icon-ice-cream.svg");
}

.description__item--cow::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/icon-cow.svg");
}

.description__item--leaf::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/icon-leaf.svg");
}

.description__item--thermometer::before {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/icon-thermometer.svg");
}

/* newsletter-container */
.newsletter-container {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.news {
  width: 580px;
  border-radius: 16px;
  background: #d3d3d3 url("../img/set-up.jpg") no-repeat bottom -113px right -78px;
  background-size: 115%;
  color: #2d3440;
  padding: 33px 100px 32px 32px;
  box-sizing: border-box;
}

.news__title {
  margin: 0;
  margin-bottom: 13px;
  color: #565c66;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.news__link {
  color: #2d3440;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
}

.newsletter {
  width: 570px;
  background: #ffffff url("../img/post-background.png") center center;
  border-radius: 16px;
  padding: 6px;
  color: #565c66;
}

.newsletter__content {
  background-color: #ffffff;
  color: #565c66;
  padding: 26px;
  border-radius: 16px;
}

.newsletter__description {
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.form__input {
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  padding: 14px 16px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.newsletter__input {
  width: 332px;
  margin-right: 14px;
}
